$heading: #e6007e;
$background: #0e253a;

html,
body {
  padding: 0;
  margin: 0;
  font-family: sofia-pro, Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

svg.inline {
  border: 1px solid #333;
}

svg.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h1 {
  color: $heading;
  text-transform: uppercase;
  padding-left: 1em;
}

@media (max-width: 800px) {
  h1 {
    padding-right: 4em;
  }
}

.link {
  stroke: #fff;
}

.node {
  cursor: move;
  fill: #ccc;
  stroke: #f00;
  stroke-width: 2px;
}

.node.fixed {
  stroke: #000;
}

.node[data-type="thing"] {
  fill: #80ff00;
}

.node[data-type="change"] {
  fill: #ff0080;
}

.node[data-type="do"] {
  fill: #fff;
}

* {
  box-sizing: border-box;
}

.print-out {
  background-color: #fff;
  color: #000;
}

del {
  text-decoration: none;
  color: #999;
}
