html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  border: 1px solid #ccc;
}

.link {
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  cursor: move;
  fill: #ccc;
  stroke: #f00;
  stroke-width: 1.5px;
}

.node.fixed {
  stroke: #000;
}

.node[data-type="thing"] {
  fill: #0f0;
}

.node[data-type="change"] {
  fill: #f00;
}

.node[data-type="do"] {
  fill: #00f;
}

* {
  box-sizing: border-box;
}
