.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notes {
  position: absolute;
  top: 0;
  right: 0;
  color: #000;
  background-color: #aaa;
  padding: 1em;
}
