$background: #0e253a;

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  margin: 2em;
  padding-left: 2em;
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .content {
    font-size: 2em;
  }
}

.container ul {
  margin: 0em;
  padding: 0em;
}

.container li {
  list-style-type: none;
  margin-top: 1em;
}

.notes {
  position: absolute;
  top: 0;
  right: 0;
  color: #000;
  background-color: #aaa;
  padding: 1em;
  max-width: 40em;
}

.main {
  background-color: $background;
  color: #fff;
  height: 100%;
}
